@import "tailwindcss";

:root {
  font-family: "Montserrat Alternates", Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url("/magic.svg");
  background-blend-mode: darken;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100dvh;
  background-color: #14012c;
}

button {
  cursor: pointer;
}

@theme {
  --color-primary-purple: #14012c;
}
