@import "tailwindcss";

:root {
  font-family: "Montserrat Alternates", Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100dvh;
  background-image: url("/magic.svg");
  background-blend-mode: darken;
}

button {
  cursor: pointer;
}

@theme {
  --color-primary-purple: #14012c;
}

@keyframes eclipse {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(-210%);
  }
}

.eclipse {
  background: white;
  transform: translateX(50%);
  filter: blur(2px);
  animation: eclipse 5s ease-in-out infinite;
}

.eclipse.glow {
  background-image: radial-gradient(circle at 50% 50%, transparent, #06080d),
    linear-gradient(#ea850f, #ffc700);
}
